<footer
  class="footer"
  style="margin-top: 30px; background-color: #00b5ad; padding: 20px 10px"
>
  <div style="margin-left: 10%; margin-top: 10px">
    <span>© 2022 All Rights Reserved</span>
  </div>
  <div style="margin-left: 10%; margin-top: 10px">
    <span>Contact via email: anhnhse150062@fpt.edu.vn</span>
  </div>
</footer>
