<nav class="navbar menu_style" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div
      class="navbar-item"
      style="text-decoration: none; margin-left: 20px"
      href="/"
    >
      <span
        style="
          font-weight: 900;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        "
        >KULI FOOTBALL</span
      >
    </div>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a
        class="navbar-item link-hover"
        style="text-decoration: none; color: white; font-weight: 500"
        href="/ "
        >HOMES</a
      >
      <a
        class="navbar-item link-hover"
        style="text-decoration: none; color: white; font-weight: 500"
        href="/nations "
        >NATIONS</a
      >
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!-- <a class="button is-light" style="text-decoration: none">LOGIN</a>
          <a class="button is-primary" style="text-decoration: none">
            <strong>SiGNUP</strong>
          </a> -->
          <a
            class="navbar-item link-hover"
            style="
              text-decoration: none;
              color: white;
              font-weight: 500;
              border: 1px solid white;
            "
            href="/nations "
            >LOGIN</a
          >
          <a
            class="navbar-item link-hover"
            style="
              text-decoration: none;
              background-color: white;
              font-weight: 500;
              color: #00b5ad;
              border: 1px solid white;
              margin-left: 10px;
            "
            href="/nations "
            >SIGNUP</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
